@charset "utf-8";
/* CSS Document */
.usersinfo{ float:; width:100%;}
.userlist{ float:left; width:100%;  margin: 10px 0;}
.useravtar{ float:left; margin-right: 15px;}
.usernicename{ display:block;}
.useremail{ display:block;}
.useravtar{ float:left;}